body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width:400px;
}
button{
    background-color: #5f9341;
    border:none;
    color:white;
    font-weight: bold;
    padding:0.65rem;
    margin-top:2px;
}
#delete-all{
    font-weight: bold;
    padding:0.65rem;
    margin-top:2px;
    background-color:white;
    color:#5f9341;
    border:solid 1px green;
}
input {
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
ul{
    margin-top:20px;
    list-style-type:none;
    padding-left:0;
}
li{
    margin-top:5px;
}
li a{
    
    color:green;
}